altgraph==0.17.5
ddddocr==1.6.1
flatbuffers==25.12.19
keyboard==0.13.5
llvmlite==0.49.0
mss==10.2.0
numba==0.67.0
numpy==2.5.3
onnxruntime==1.30.0
opencv-python==5.0.0.93
opencv-python-headless==5.0.0.93
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
protobuf==7.36.2
PyDirectInput==1.0.4
PyGetWindow==0.0.9
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
PyRect==0.2.0
pywin32-ctypes==0.2.3
setuptools==84.0.0
